@import "tailwindcss";

:root {
  --background: oklch(0.9812 0 0);
  --foreground: oklch(0.0893 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.0893 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.0893 0 0);
  --primary: oklch(0.6257 0.1535 141.77);
  --primary-foreground: oklch(36.146% 0.08282 141.908);
  --secondary: oklch(0.7 0.1707 52.27);
  --secondary-foreground: oklch(46.019% 0.10524 53.978);
  --muted: oklch(0.9312 0 0);
  --muted-foreground: oklch(0.4591 0 0);
  --accent: oklch(0.588 0.0993 245.7394);
  --accent-foreground: oklch(0.0893 0 0);
  --destructive: oklch(0.7076 0.1975 46.4558);
  --destructive-foreground: oklch(0.9893 0 0);
  --border: oklch(0.8813 0 0);
  --input: oklch(0.8813 0 0);
  --ring: oklch(0.5016 0.1887 27.4816);
  --chart-1: oklch(0.5016 0.1887 27.4816);
  --chart-2: oklch(0.4955 0.0896 126.1858);
  --chart-3: oklch(0.588 0.0993 245.7394);
  --chart-4: oklch(0.7076 0.1975 46.4558);
  --chart-5: oklch(0.5656 0.0431 40.4319);
  --sidebar: oklch(0.9006 0 0);
  --sidebar-foreground: oklch(0.0893 0 0);
  --sidebar-primary: oklch(0.5016 0.1887 27.4816);
  --sidebar-primary-foreground: oklch(0.0893 0 0);
  --sidebar-accent: oklch(0.588 0.0993 245.7394);
  --sidebar-accent-foreground: oklch(0.0893 0 0);
  --sidebar-border: oklch(0.8813 0 0);
  --sidebar-ring: oklch(0.5016 0.1887 27.4816);
  --font-sans: "Oxanium", sans-serif;
  --font-serif: Abyssinica SIL, ui-serif, serif;
  --font-mono: "Source Code Pro", monospace;
  --radius: 0.6rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.2);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.2);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.4), 0px 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.4), 0px 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.4), 0px 2px 4px -1px hsl(0 0% 0% / 0.4);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.4), 0px 4px 6px -1px hsl(0 0% 0% / 0.4);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.4), 0px 8px 10px -1px hsl(0 0% 0% / 0.4);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 1);
  --tracking-normal: 0.025em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.0878 0 0);
  --foreground: oklch(0.9367 0 0);
  --card: oklch(0.085 0 0);
  --card-foreground: oklch(0.9367 0 0);
  --popover: oklch(0.085 0 0);
  --popover-foreground: oklch(0.9367 0 0);
  --primary: oklch(0.6083 0.209 27.0276);
  --primary-foreground: oklch(0.9367 0 0);
  --secondary: oklch(0.1923 0.0267 133.0145);
  --secondary-foreground: oklch(0.9367 0 0);
  --muted: oklch(0.1645 0 0);
  --muted-foreground: oklch(0.6058 0 0);
  --accent: oklch(0.7482 0.1235 244.7492);
  --accent-foreground: oklch(0.9367 0 0);
  --destructive: oklch(0.7839 0.1719 68.0943);
  --destructive-foreground: oklch(0.9367 0 0);
  --border: oklch(0.2091 0 0);
  --input: oklch(0.2091 0 0);
  --ring: oklch(0.6083 0.209 27.0276);
  --chart-1: oklch(0.6083 0.209 27.0276);
  --chart-2: oklch(0.6423 0.1467 133.0145);
  --chart-3: oklch(0.7482 0.1235 244.7492);
  --chart-4: oklch(0.7839 0.1719 68.0943);
  --chart-5: oklch(0.6471 0.0334 40.7963);
  --sidebar: oklch(0.0513 0 0);
  --sidebar-foreground: oklch(0.9367 0 0);
  --sidebar-primary: oklch(0.6083 0.209 27.0276);
  --sidebar-primary-foreground: oklch(0.9367 0 0);
  --sidebar-accent: oklch(0.7482 0.1235 244.7492);
  --sidebar-accent-foreground: oklch(0.9367 0 0);
  --sidebar-border: oklch(0.2091 0 0);
  --sidebar-ring: oklch(0.6083 0.209 27.0276);
  --font-sans: "Oxanium", sans-serif;
  --font-serif: Abyssinica SIL, ui-serif, serif;
  --font-mono: "Source Code Pro", monospace;
  --radius: 0.6rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 5px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.6;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 2px 5px 0px hsl(0 0% 0% / 0.3);
  --shadow-xs: 0px 2px 5px 0px hsl(0 0% 0% / 0.3);
  --shadow-sm: 0px 2px 5px 0px hsl(0 0% 0% / 0.6), 0px 1px 2px -1px hsl(0 0% 0% / 0.6);
  --shadow: 0px 2px 5px 0px hsl(0 0% 0% / 0.6), 0px 1px 2px -1px hsl(0 0% 0% / 0.6);
  --shadow-md: 0px 2px 5px 0px hsl(0 0% 0% / 0.6), 0px 2px 4px -1px hsl(0 0% 0% / 0.6);
  --shadow-lg: 0px 2px 5px 0px hsl(0 0% 0% / 0.6), 0px 4px 6px -1px hsl(0 0% 0% / 0.6);
  --shadow-xl: 0px 2px 5px 0px hsl(0 0% 0% / 0.6), 0px 8px 10px -1px hsl(0 0% 0% / 0.6);
  --shadow-2xl: 0px 2px 5px 0px hsl(0 0% 0% / 1.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

/* Custom animations */

@keyframes move-out {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(100%);
  }
}

@keyframes move-in {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}
@keyframes fade-and-move-out {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes fade-and-move-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
/* 
@keyframes fade-and-move-out {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes fade-and-move-in {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
} */

@keyframes move-in-from-right {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes move-out-to-right {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

/* View Transitions */

:root {
  --easing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
::view-transition-old(featured-list) {
  animation: 0.25s var(--easing-function) both move-out;
}

::view-transition-new(featured-list) {
  animation: 0.25s var(--easing-function) both move-in;
}

::view-transition-old(featured-details) {
  animation: 0.35s var(--easing-function) both fade-and-move-out;
}

::view-transition-new(featured-details) {
  animation: 0.35s var(--easing-function) both fade-and-move-in;
}

::view-transition-old(movie-details):only-child {
  animation: 0.35s var(--easing-function) both fade-and-move-out;
}

::view-transition-new(movie-details):only-child {
  animation: 0.35s var(--easing-function) both fade-and-move-in;
}

::view-transition-old(side-panel) {
  animation: 0.25s var(--easing-function) both move-out-to-right;
}

::view-transition-new(side-panel) {
  animation: 0.25s var(--easing-function) both move-in-from-right;
}
